


  .slick-dots li button:before {
    content: "";
    width: 24px; 
    height: 10px;    
     display: block;
    background-color: white; 
    opacity: 0.5;
    border-radius: 3px; 
  }
  
  .slick-dots li.slick-active button:before {
    opacity: 1; 
    background-color: white; 
  }
  
  