.Header-clr {
  color: #00754a;
}

.img-logo {
  width: 113px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  border-radius: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 64px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  color: #fff;
  /* padding-top: 60px; */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.div-txt {
  font-size: 14px;
  line-height: 20px;
  color: #2072E4;
  background: linear-gradient(90deg, #FFFFFF 0%, #E3EFFF 50.93%, #FFFFFF 101.85%);
  border-radius: 33px;
  text-align: center;
  font-family: 'robotomedium';
  font-weight: normal;
  padding: 8px 15px;
  max-width: 513px;
  width: auto;
  margin: 0 auto 20px;
}

.hrefTxt {
  text-decoration: none;
  color: #034aad;
}

.step-number {
  background: linear-gradient(to right, #17c749 0, #109e38 100%);
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 4px solid #fff;
  border-radius: 40px;
  position: absolute;
  left: 16px;
  top: -20px;
}

.div-head {
  margin-top: 20px;
}

.logo {
  width: 160px;
  height: auto;
  position: absolute;
  right: 20px;
  top: -30px
}

.hr-tag {
  width: 30%;
  margin: 0 auto;
  opacity: 0.6;
  color: #f87e7e !important;
  align-items: center;
  text-align: center;
}

.div-icon {
  position: absolute;
  left: 25px;
  top: -25px;
}

.div-title {
  text-align: center;
}

.middle-user {
  background: #1a1a1a;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 10px 0px;
}

.div-container1 {
  width: 100%;
}

.div-container2 {
  position: absolute;
  right: 10px;
}

.vertical-tag {
  height: 20px;
  border-left: 2px solid gray;
  margin: 0px 10px;
  padding: 0px;
  display: inline;
}

.tag-rating {
  opacity: 0.8;
}

.col-p-tag {
  text-decoration: none;
  color: #034aad;
}

.slider-conatiner {
  width: 328px;
  margin: 20px 10px;
  overflow: visible;
}

.slick-prev {
  background-color: transparent !important;
}

.slick-prev::before {
  color: #00754a !important;
  font-size: 20px;
}

.slick-next {
  background-color: transparent !important;
}

.slick-next::before {
  color: #00754a !important;
  font-size: 20px;
}

.app-logo {
  width: 140px;
}

.vertical-tag2 {
  border-left: 1px solid gray;
  height: 60vh;
}

.app-logo1 {
  width: 50px;
}

.border-bottom-p {
  border-bottom: 1px solid gray;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.Img-header {
  width: 30%;
  margin: auto;
  border-radius: 30px;
}

.Img-header2 {
  width: 38%;
  margin: auto;
  border-radius: 30px;
}

.Img-header3 {
  width: 40%;
  margin: auto;
  border-radius: 30px;
}

.login-img {
  width: 350px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(250, 247, 247);
}

@media (min-width: 300px) and (max-width: 600px) {
  .img-logo {
    width: 72px;
  }

  .logo {
    width: 140px;
    height: auto;
    position: absolute;
    right: 20px;
    top: -30px
  }

  .youtube-Img {
    width: 95%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .middle-user {
    grid-template-columns: 1.5fr 1fr;
  }

  .border-bottom-p1 {
    border-bottom: 1px solid gray;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .vertical-tag2 {
    border-left: 1px solid gray;
    height: 0vh;
  }

  .app-logo1 {
    width: 30px;
  }

  .slider-conatiner {
    width: 328px;
    margin: 20px 0px;
    overflow: visible;
  }

  .hr-tag {
    width: 90%;
    margin: 0 auto;
    opacity: 0.6;
    color: #f87e7e !important;
    align-items: center;
    text-align: center;
  }

  .Img-header {
    width: 60%;
    border-radius: 30px;
    margin: auto;
    margin-top: 80px;
  }

  .Img-header2 {
    width: 75%;
    border-radius: 30px;
    margin: auto;
    margin-top: 80px;
  }

  .Img-header3 {
    width: 80%;
    border-radius: 30px;
    margin: auto;
    margin-top: 80px;
  }


  .login-img {
    width: 300px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

}

@media (min-width: 600px) and (max-width: 1100px) {
  .Img-header {
    width: 50%;
    margin: auto;
    border-radius: 30px;
    margin-top: 80px;
  }

  .Img-header2 {
    width: 60%;
    margin: auto;
    border-radius: 30px;
    margin-top: 80px;
  }

  .Img-header3 {
    width: 65%;
    margin: auto;
    border-radius: 30px;
    margin-top: 80px;
  }

  .logo {
    width: 110px;
    height: auto;
    position: absolute;
    right: 20px;
    top: -20px
  }

  .div-title {
    text-align: right;
  }

  .middle-user {
    background: #1a1a1a;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    padding: 8px 16px;
    margin: 10px 0px;
  }

  .slider-conatiner {
    width: 328px;
    margin: 20px 4px;
    overflow: visible;
  }


}